//variabler
$Ubuntuorange:#E95420;
$White: #FFFFFF;
$Black:#000000;
$Lightaubergine: #77216F;
$Midaubergine: #5E2750;
$Darkaubergine: #2C001E;
$Warmgrey:#AEA79F;
$Coolgrey: #333333;
$Textgrey:#111111;
$Canonicalaubergine: #772953;