@use "/colors" as c;
@mixin nav-barstyle {
    min-height: 70px;
 display: flex;
 justify-content: space-between;
 background-color: #AD79A8;
 padding: 0 80px;
 
.nav-img {
 height: 60px;
 width: 100px;
 padding-top: 5px;
 padding-bottom: 5px;
 }
 .nav-manu {
 display: flex;
 justify-content: space-between;
 align-items: right;
 gap: 40px;
 margin: 1em;
 color: #F6F6F5;
 font-size: 20px;
 font-family: Ubuntu-Th;
 }
 .nav-item {
    color: #F6F6F5;
 }

}